
<div class="introduction">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="introduction-title">
          <span class="title-block wow fadeInRight" [ngStyle]="{'transition-delay': '0.3s'}">Transforming</span>
          <span class="title-block wow fadeInRight" [ngStyle]="{'transition-delay': '0.6s'}">complexity</span>
          <span class="title-block wow fadeInRight" [ngStyle]="{'transition-delay': '0.9s'}">in value</span>
        </h2>
      
        <app-sliding-content></app-sliding-content>
      
        <a href="#" class="btn-primary">Know how</a>
      
        <app-line></app-line>
      
        <app-social></app-social>
      
        <img src="/assets/img/layout/profile.png" alt="Foto de Almir Dantas" class="introduction-picture">
      </div>
    </div>
  </div>

</div>