<div class="app-header-wrapper">
  <header class="app-header">
    <div class="container">
      <div class="row header-menu">
        <h2 class="header-logo"><b>ALMIR.</b>design</h2>
        <nav class="main-nav">
          <ul class="main-nav-list">
            <li class="nav-item hide-desktop"><a href="#" class="nav-item-anchor">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-item-anchor">About</a></li>
            <li class="nav-item"><a href="#" class="nav-item-anchor">Works</a></li>
            <li class="nav-item"><a href="#" class="nav-item-anchor">Contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>